<%- include('./partials/head') %>

	<body>
		<%- include('./partials/navbar') %>

			<div class="mt-5 mx-5">
				<div class="row">
					<div class="col-8 mt-3"><div class="card card-bg-orange">
						<p class="linden-hill-italic"
							style="font-size: 32px; text-align: center; margin-top: 14px; color: white;">
							“If you start doing beautiful things, you will be happy in every circumstance.”
						</p>
					</div></div>
					<div class="col"></div>
					<div class="col-auto mx-4">
						<!-- Two buttons aligned to the right -->
						<div class="row mt-3">
							<button class="btn btn-orange pt-3 linden-hill">
								<a href="/daily-page" class="text-dark no-link-underline">
									<h5 style="font-size: 30px;">Write daily page</h5>
								</a>
							</button>
							<button class="btn btn-orange mt-4 pt-3 linden-hill">
								<a href="/history" class="text-dark no-link-underline">
									<h5 style="font-size: 30px;">See history</h5>
								</a>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="fixed-bottom mb-5">
				<div class="d-flex flex-wrap justify-content-between">
					<p class="text-muted mx-5 my-5">&copy; Photo of Aaron Burden on Unsplash</p>
					<br><br>
				</div>
			</div>
	</body>

	<%- include('./partials/footer') %>